<footer class="page-footer font-small unique-color-dark " style="background: black; margin-bottom: 0px; margin-top: 40px; ">
    <div class="footer-copyright text-center py-3" style="color: #fff;">© 2021 Copyright:
      <a href="http://igkishore.github.io/" style="color: #fff;"> Note's App</a>
      <br>
      <br>
      <h9>Made with &hearts; by <span>Gowtham Kishore Indukuri</span></h5>
    </div>
  </footer>