<div >
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light navhome" >
        <a class="navbar-brand "><span class="navbrand"><span style="color: rgb(255, 255, 255);">Note's</span>App</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 uul" >
            <li class="nav-item ">
              <a class="nav-link" href="/dashboard"><span class="navkey">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addnotes"><span class="navkey" >Add Notes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/explore"><span class="navkey" >Explore</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><span class="navkey" >Logout</span></a>
            </li>
          </ul>
        </div>
      </nav>
</div>