<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
    <body>
      <%- include("./partials/nav.ejs") %>

        <div class="jumbotron jumbotron-fluid" style="align-items: center; background: white;">
          <div class="container-fluid" >
         <img src="404.svg" alt="" style="width: 50%; margin-top: 50px; align-items: center; margin-left: auto; margin-right: auto; display: block; ">
         <h3 style="text-align: center; font-weight: 800; color: rgb(133, 91, 0);">&spades; The Page Your Searching is Not available &spades; </h3>
          </div>
        </div>

       

        <%- include("./partials/footer.ejs") %>
        
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>